<app-header [title]="'menu'" [defaultHref]="'home/menu'" [back]="false"></app-header>

<ion-content color="light">
  <super-tabs>
    <super-tabs-toolbar slot="top" color="primary">
      <super-tab-button>
        <ion-label>Appetizers</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Combos</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Drinks</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Desserts</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <app-item [items]="appetizers"></app-item>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <app-item [items]="combos"></app-item>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          < <app-item [items]="drinks">
            </app-item>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <app-item [items]="desserts"></app-item>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
