<app-header [title]="'login'" [defaultHref]="'home/card'" [back]="false"></app-header>
<ion-segment value="signIn" (ionChange)="onFilter($event)">
  <ion-segment-button value="signIn" color="dark">
    <ion-label> Sign in</ion-label>
  </ion-segment-button>
  <ion-segment-button value="signUp">
    <ion-label> Sign up</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content style="margin-top: 20px;" color="light">
  <ion-card>
    <app-sign-in *ngIf="signIn"></app-sign-in>
    <app-sign-up *ngIf="!signIn"></app-sign-up>
  </ion-card>
</ion-content>
