<ion-header style="margin-top: 80px;">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories" class="col">
        <ion-card [routerLink]="category.title" style="background-color: white;">
          <ion-card-content>
            <ion-img [src]="category.image"></ion-img>
          </ion-card-content>
        </ion-card>
        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
