<ion-header style="margin-top: 80px;">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col size="5" offset="1">
        <div class="div-container">
          <ion-img
            src=" https://media.istockphoto.com/photos/beautifully-decorated-catering-banquet-with-different-food-snacks-and-picture-id1165401900?k=20&m=1165401900&s=612x612&w=0&h=Ub6xFjMbfyQRKCUT82pd_fN9Iz02Rk-FQzkIQIaRZ0I=">
          </ion-img>
          <ion-label style="height: 20px;"> Appetizers</ion-label>

        </div>
      </ion-col>
      <ion-col size="5">
        <div class="div-container">
          <ion-img
            src="      https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR141qLo2xQBJLo2A7uwsPtq3DFr-UGKFqkQg&usqp=CAU">
          </ion-img>
          <ion-label class="text-center">Combos</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px;">
      <ion-col size="5" offset="1">
        <div class="div-container">
          <ion-img
            src="https://image.shutterstock.com/image-vector/alcohol-drinks-banner-design-champagne-260nw-478749991.jpg ">
          </ion-img>

          <ion-label> Drinks</ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <div class="div-container">
          <ion-img
            src="https://images.immediate.co.uk/production/volatile/sites/2/2019/07/Tiramisu-d68a628.jpg?quality=90&resize=960%2C408 ">
          </ion-img>
          <ion-label class="text-center">Desserts</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
