<ion-app >
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title style="text-align: center; margin-right: 20px;" size="large">Side menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="logOut()">
            <ion-icon name="exit" slot="start">
            </ion-icon>
            <ion-label class="label">Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
