<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>appetizers</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-menu side="start">
    <ion-content>
      <ion-list style="margin-top: 50px;">
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/menu/appetizers" button>
            <ion-icon name="business" slot="start">
            </ion-icon>
            <ion-label class="label">Appetizers</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/menu/combos" button>
            <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            <ion-label class="label">Combos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>

          <ion-item lines="none" routerLink="/menu/drinks" button>
            <ion-icon name="beer-outline" slot="start"></ion-icon>
            <ion-label class="label">Drinks</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/menu/desserts" button>
            <ion-icon name="exit" slot="start">
            </ion-icon>
            <ion-label class="label">Desserts</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
