<ion-header>
  <ion-toolbar>
    <ion-title>blue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="initializeBlueTooth()">initialize blueooth</ion-button>
  <ion-button (click)="activateBluetooth()">activate bluetooth</ion-button>

  <ion-button (click)="stopScan()">stopScan </ion-button>
  <ion-button (click)="turnBluetoothOn()">turnBluetoothOn </ion-button>
  <ion-button (click)="turnBluetoothOff()">turnBluetoothOff </ion-button>
  <ion-button (click)="anotherScan()">anotherScan </ion-button>

</ion-content>
