.first-class {
  background-color: white;
}

.second-class {
  background-color: f3f3f3;
}

.header-title {
  font-size: larger;
  color: white;
}

.table-header {
  background-color: #009879;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 10px;
}
.table-content {
  font-size: large;
}

.table-footer {
  background-color: #009879;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 10px;
}

.bottom-title-total {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.ion-col-sides {
  border-left: 1.5px solid #009879;
  border-right: 1.5px solid #009879;
}
