<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="bar" color="light">
      <ion-tab-button tab="menu" style="border: none;">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>menu</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="orders">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>orders</ion-label>
        <ion-badge></ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
