<app-header [title]="'help-center-admin'" [defaultHref]="'home/menu'" [back]="false"></app-header>

<ion-content color="secondary" >
  <ion-grid>
    <ion-row *ngFor="let room of rooms">
      <ion-col>
        <ion-item color="tertiary" lines="none" style="border-radius: 8px;">
          <ion-label color="dark">
            room N# {{room._id}}
          </ion-label>
          <ion-button color="secondary"  slot="end">enter room</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!rooms">
    no rooms
  </div>
   <!-- <app-chat [messages]="messages" (sendMessage)="sendInFather($event)"></app-chat>   -->
</ion-content>
