<app-header [title]="'login'" [defaultHref]="'home/card'" [back]="false"></app-header>
<ion-content style="margin-top: 20px;" color="secondary">
  <ion-card color="light">
    <ion-card-content>
      <app-sign-in *ngIf="signIn"></app-sign-in>
      <app-sign-up *ngIf="!signIn" (goToLogin)="goToLoginInParent($event)"></app-sign-up>
      <ion-button color="primary" fill="clear" expand="block" type="button" (click)="switchAuthMode()">
        <small style="color: blue;">switch
          to
          {{ !signIn ? 'login' : 'signUp' }}</small>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
