<app-header [title]="'Orders'" [defaultHref]="'home/order'" [back]="false">
</app-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let order of myOrders">
      <ion-col style="border-radius: 10px; margin-top: 8px; background-color: red;">
        <ion-list>
          <ion-item>

            <ion-label slot="start">Order N# {{order._id}}</ion-label>
            <ion-label>
              <ion-button color="secondary" (click)="openModal(order)">details</ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
