<app-header [title]="'Orders'" [defaultHref]="'home/order'" [back]="false">
</app-header>

<ion-content color="light">
  <ion-grid>
    <ion-row *ngFor="let order of myOrders">
      <ion-col>
        <ion-item color="tertiary" lines="none" style="border-radius: 8px;">
          <ion-label slot="start" color="dark">
            Order N# {{order._id | slice:0:4}}
          </ion-label>
          <ion-label>
            <ion-button color="secondary" (click)="openModal(order)">details</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
