<ion-grid>
  <ion-row>
    <ion-col *ngFor="let item of items" size="12" size-sm="8" text-center style="margin-top: 10px;">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-img [src]="item.imageUrl"></ion-img>
          </ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
          <ion-card-title style="color: red;">{{item.price | currency}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or
        </ion-card-content>
        <ion-button color="danger" size="small" class="button" (click)="addToCart(item)">
          <ion-icon name="cart-outline"></ion-icon> Add To Cart
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
