<!-- <app-header [title]="'home'" [defaultHref]="'home'" [back]="false"></app-header> -->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="bar" color="light">
      <ion-tab-button tab="menu" style="border: none;">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="card">
        <ion-icon name="card"></ion-icon>
        <ion-label>Card</ion-label>
        <ion-badge *ngIf="cardLength">{{cardLength}}</ion-badge>
      </ion-tab-button>


      <ion-tab-button tab="blue">
        <ion-icon name="bluetooth"></ion-icon>
        <ion-label>bluetooth</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="login" *ngIf="!userIsAuthenticated">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="order">
        <ion-icon name="folder-outline"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
